In [ ]:
import pandas as pd
import pickle

In [263]:
url = 'https://drive.google.com/uc?export=download&id=1keuahH9Lw6jwEL3BesW25XWuQrzIiiuV'
data = pd.read_csv(url)
data.head()

,row_ID,vehicle_manufacturer,vehicle_model,vehicle_category,current_mileage,vehicle_year,vehicle_gearbox_type,doors_cnt,wheels,vehicle_color,vehicle_interior_color,car_vin,car_leather_interior,deal_type,final_price
0,0,TOYOTA,Aqua s,Sedan,133000,2014,Automatic,4/5,Right-hand drive,Silver,Black,NaN,0,For Sale,3650.0
1,1,MERCEDES-BENZ,C 220,Sedan,24500,2010,Manual,4/5,Left wheel,Silver,Black,NaN,0,For Sale,6800.0
2,2,HYUNDAI,Veloster,Hatchback,31000,2016,Tiptronic,2/3,Left wheel,Silver,Black,KMHTC6AE3GU293912,1,For Sale,6300.0
3,3,HYUNDAI,Santa FE,Jeep,115459,2015,Automatic,4/5,Left wheel,Blue,Black,NaN,1,For Sale,14488.0
4,4,TOYOTA,CHR,Jeep,18950,2019,Automatic,4/5,Left wheel,Black,NaN,JTNKHMBX7K1030253,1,For Sale,5000.0

In [264]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35000 entries, 0 to 34999
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   row_ID                  35000 non-null  int64
 1   vehicle_manufacturer    34999 non-null  object
 2   vehicle_model           34993 non-null  object
 3   vehicle_category        34999 non-null  object
 4   current_mileage         35000 non-null  int64
 5   vehicle_year            35000 non-null  int64
 6   vehicle_gearbox_type    34999 non-null  object
 7   doors_cnt               34255 non-null  object
 8   wheels                  34999 non-null  object
 9   vehicle_color           34599 non-null  object
 10  vehicle_interior_color  28282 non-null  object
 11  car_vin                 11488 non-null  object
 12  car_leather_interior    35000 non-null  int64
 13  deal_type               35000 non-null  object
 14  final_price             35000 non-null  float64
dtypes: float64(1), int64(4), object(10)
memory usage: 4.0+ MB

In [265]:
data.deal_type.value_counts()

deal_type
For Sale    34372
For Rent      628
Name: count, dtype: int64

In [233]:
data.drop(data[data.deal_type == 'For Rent'].index, axis=0, inplace = True)

In [234]:
drop_columns = ['row_ID', 'car_vin', 'vehicle_interior_color', 'deal_type', 'vehicle_model']
data.drop(columns=drop_columns, inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 34372 entries, 0 to 34999
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   vehicle_manufacturer  34371 non-null  object
 1   vehicle_category      34371 non-null  object
 2   current_mileage       34372 non-null  int64
 3   vehicle_year          34372 non-null  int64
 4   vehicle_gearbox_type  34371 non-null  object
 5   doors_cnt             33627 non-null  object
 6   wheels                34371 non-null  object
 7   vehicle_color         33971 non-null  object
 8   car_leather_interior  34372 non-null  int64
 9   final_price           34372 non-null  float64
dtypes: float64(1), int64(3), object(6)
memory usage: 2.9+ MB

In [235]:
data.describe()

       current_mileage  vehicle_year  car_leather_interior   final_price
count     3.437200e+04  34372.000000          34372.000000  3.437200e+04
mean      1.907385e+06   2010.707262              0.722449  6.119695e+03
std       5.584060e+07     12.312176              0.447797  7.407840e+04
min       0.000000e+00      0.000000              0.000000  0.000000e+00
25%       7.149500e+04   2009.000000              0.000000  1.500000e+03
50%       1.290000e+05   2012.000000              1.000000  4.000000e+03
75%       1.905522e+05   2014.000000              1.000000  7.000000e+03
max       2.147484e+09   2020.000000              1.000000  8.388607e+06

In [266]:
def clean_data (data):
    data.drop(data[data.final_price==8.388607e+06].index, axis=0, inplace = True)
    data.drop(data[data.final_price==6.666666e+06].index, axis=0, inplace = True)
    data.drop(data[data.final_price==1.111111e+06].index, axis=0, inplace = True)
    data.drop(data[data.final_price==0.000000].index, axis=0, inplace = True)
    data.drop(data[data.final_price==1.000000].index, axis=0, inplace = True)
    data.drop(data[data.current_mileage > 9e+06].index, axis=0, inplace = True)
    data.drop(data[data.vehicle_year == 0].index, axis=0, inplace = True)
    data.drop(data[data.deal_type == 'For Rent'].index, axis=0, inplace = True)
    data.dropna(inplace=True)
    return data

In [267]:
data = clean_data(data)

In [268]:
data.vehicle_manufacturer.unique()

array(['HYUNDAI', 'TOYOTA', 'BMW', 'MAZDA', 'NISSAN', 'DODGE', 'MINI',
       'CHEVROLET', 'MITSUBISHI', 'MERCEDES-BENZ', 'LEXUS', 'VOLKSWAGEN',
       'JEEP', 'HONDA', 'FORD', 'OPEL', 'AUDI', 'KIA', 'SUBARU', 'FIAT',
       'LAND ROVER', 'VAZ', 'PORSCHE', 'INFINITI', 'SSANGYONG',
       'ASTON MARTIN', 'JAGUAR', 'SUZUKI', 'LINCOLN', 'CHRYSLER', 'SKODA',
       'VOLVO', 'MG', 'BUICK', 'CADILLAC', 'GREATWALL', 'DAIHATSU',
       'SEAT', 'RENAULT', 'MERCURY', 'FERRARI'], dtype=object)

In [275]:
data.vehicle_color.unique()

array([' Silver ', ' White ', ' Grey ', ' Black ', ' Carnelian red ',
       ' Blue ', ' Sky blue ', ' Golden ', ' Brown ', ' Red ', ' Beige ',
       ' Green ', ' Pink ', ' Orange ', ' Yellow ', ' Purple '],
      dtype=object)

In [237]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 33191 entries, 0 to 34999
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   vehicle_manufacturer  33191 non-null  object
 1   vehicle_category      33191 non-null  object
 2   current_mileage       33191 non-null  int64
 3   vehicle_year          33191 non-null  int64
 4   vehicle_gearbox_type  33191 non-null  object
 5   doors_cnt             33191 non-null  object
 6   wheels                33191 non-null  object
 7   vehicle_color         33191 non-null  object
 8   car_leather_interior  33191 non-null  int64
 9   final_price           33191 non-null  float64
dtypes: float64(1), int64(3), object(6)
memory usage: 2.8+ MB

In [239]:
data.describe()

       current_mileage  vehicle_year  car_leather_interior    final_price
count     3.319100e+04  33191.000000          33191.000000   33191.000000
mean      1.493564e+05   2010.617216              0.714621    5407.515441
std       1.798588e+05      5.790845              0.451601    5970.930635
min       0.000000e+00   1940.000000              0.000000       2.000000
25%       7.447600e+04   2008.000000              0.000000    1600.000000
50%       1.300000e+05   2012.000000              1.000000    4000.000000
75%       1.920000e+05   2014.000000              1.000000    7000.000000
max       8.558222e+06   2020.000000              1.000000  200000.000000

In [ ]:
numeric_features = ['current_mileage', 'vehicle_year', 'car_leather_interior']
categorical_features = ['vehicle_manufacturer', 'vehicle_model', 'vehicle_category',
                       'vehicle_gearbox_type', 'wheels', 'vehicle_color',
                       'car_interior_color', 'doors_cnt']
target_feature = 'final_price'

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

def split_data(data, target_feature, test_size=0.2, standart_scaler=True):
    if standart_scaler:
        st = StandardScaler()
        data_standart = st.fit_transform(data)
    else:
        data_standart = data
    X_train, X_test, y_train, y_test = train_test_split(data_standart, target_feature, test_size=test_size, random_state=42)
    return X_train, X_test, y_train, y_test


# X_train, X_test, y_train, y_test = split_data(data, target_feature, test_size=0.2, standart_scaler=False)

In [243]:
X_train, X_test, y_train, y_test = split_data(data[numeric_features], data[target_feature], test_size=0.2, standart_scaler=True)

In [244]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score
model_dt = DecisionTreeRegressor(random_state=42)
model_dt.fit(X_train, y_train)
predictions = model_dt.predict(X_test)
r2_score(y_test, predictions)

0.07432285109133052

In [245]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
data['vehicle_manufacturer'] = label_encoder.fit_transform(data['vehicle_manufacturer'])
# data['vehicle_model'] = label_encoder.fit_transform(data['vehicle_model'])
data['vehicle_category'] = label_encoder.fit_transform(data['vehicle_category'])
data['vehicle_gearbox_type'] = label_encoder.fit_transform(data['vehicle_gearbox_type'])
data['wheels'] = label_encoder.fit_transform(data['wheels'])
data['vehicle_color'] = label_encoder.fit_transform(data['vehicle_color'])
data['doors_cnt'] = label_encoder.fit_transform(data['doors_cnt'])

In [246]:
data

,vehicle_manufacturer,vehicle_category,current_mileage,vehicle_year,vehicle_gearbox_type,doors_cnt,wheels,vehicle_color,car_leather_interior,final_price
0,60,9,133000,2014,0,1,1,12,0,3650.0
1,37,9,24500,2010,1,1,0,12,0,6800.0
2,23,3,31000,2016,2,0,0,12,1,6300.0
3,23,4,115459,2015,0,1,0,2,1,14488.0
4,60,4,18950,2019,0,1,0,1,1,5000.0
...,...,...,...,...,...,...,...,...,...,...
34995,16,9,87579,2013,0,1,0,1,1,6000.0
34996,55,4,116092,2009,0,1,0,12,1,9642.0
34997,5,9,43000,2015,2,1,0,7,1,23500.0
34998,23,4,82139,2015,0,1,0,14,1,12826.0
34999,60,9,237178,2015,0,1,0,2,1,1050.0

In [248]:
X_train, X_test, y_train, y_test = split_data(data.drop(columns=['final_price'], axis = 1), data[target_feature], test_size=0.2, standart_scaler=True)
model_dt = DecisionTreeRegressor(random_state=42)
model_dt.fit(X_train, y_train)
predictions = model_dt.predict(X_test)
r2_score(y_test, predictions)

0.30941094763216526

In [249]:
from sklearn.linear_model import LinearRegression
linear_regression = LinearRegression()
linear_regression.fit(X_train, y_train)
predictions = linear_regression.predict(X_test)
r2_score(y_test, predictions)

0.14616753826593154

In [253]:
from sklearn.ensemble import RandomForestRegressor
random_forest = RandomForestRegressor(n_estimators=100, random_state=42)
random_forest.fit(X_train, y_train)
predictions = random_forest.predict(X_test)
r2_score(y_test, predictions)

0.5503102679104681

In [251]:
from sklearn.neighbors import KNeighborsRegressor
knn = KNeighborsRegressor(n_neighbors=30)
knn.fit(X_train, y_train)
predictions = knn.predict(X_test)
r2_score(y_test, predictions)

0.4230978842036788

In [ ]:
from sklearn.ensemble import GradientBoostingRegressor
boosting = GradientBoostingRegressor(random_state=42)
boosting.fit(X_train, y_train)
predictions = boosting.predict(X_test)
r2_score(y_test, predictions)

0.39082793218316825

In [255]:
data.columns

Index(['vehicle_manufacturer', 'vehicle_category', 'current_mileage',
       'vehicle_year', 'vehicle_gearbox_type', 'doors_cnt', 'wheels',
       'vehicle_color', 'car_leather_interior', 'final_price'],
      dtype='object')

In [262]:
# Предположим, что best_model - наша лучшая модель после GridSearch
# Создаем pipeline для сохранения всей логики preprocessing

# Определяем числовые и категориальные признаки
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
import joblib  
import pickle


best_model = RandomForestRegressor(n_estimators=100, random_state=42)
numeric_features = ['current_mileage', 'vehicle_year', 'car_leather_interior']

categorical_features = ['vehicle_manufacturer', 'vehicle_category',
                       'vehicle_gearbox_type', 'doors_cnt', 'wheels', 'vehicle_color']

# Создаем preprocessing pipeline
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), numeric_features),
        ('cat', OneHotEncoder(drop='first', handle_unknown='ignore'), categorical_features)
    ])

# Создаем полный pipeline
full_pipeline = Pipeline([
    ('preprocessor', preprocessor),
    ('regressor', best_model)  # ваша лучшая модель
])

url = 'https://drive.google.com/uc?export=download&id=1keuahH9Lw6jwEL3BesW25XWuQrzIiiuV'
data = pd.read_csv(url)
data = clean_data(data)

# Обучаем pipeline на всех данных
X = data.drop('final_price', axis=1)
y = data['final_price']
full_pipeline.fit(X, y)

# Сохраняем pipeline
joblib.dump(full_pipeline, 'car_price_pipeline.pkl')

# Также сохраняем список feature names для валидации ввода
feature_names = X.columns.tolist()
with open('feature_names.pkl', 'wb') as f:
    pickle.dump(feature_names, f)

print("Модель и preprocessing pipeline успешно сохранены!")

Модель и preprocessing pipeline успешно сохранены!